<div class="col-lg-12">
    <div class="page-header">
        <div class="pull-right">
            <a class="btn btn-success" href="/carts/">Check out</a>
        </div>
        <h1>iCanStore - Shop</h1>
    </div>
    {{#each products}}
    <div class="card col-lg-3" >
        <img src="..\img\\{{prod_Code}}.png" class="card-img-top" onerror="this.style.display='none';" alt="Product Code: {{prod_Code}}">
        <div class="card-body">
            <h5 class="card-title">{{prod_Name}}</h5>
            <p class="card-text">R {{prod_Price}}</p>
            <form method="POST" class="form-horizontal" id="insert_form" action='/carts/add/{{prod_ID}}' data-toggle="validator">
                <div class="col-sm-6">
                <input type="number" name="prod_Order_Qty" class="form-control" step=10 value='0'/>
                </div>
            </form>
            <input type="hidden" name="_csrf" value="{{ csrfToken}}">
            <input type="submit" value="Add to Cart" class="btn btn-primary">
            {{!-- <a href="#" class="btn btn-primary">Add to Cart</a> --}}
        </div>
    </div>
    {{/each}}

</div>