<div class="col-lg-12">
    <div class="page-header" style='margin-top: 80px'>
        <div class="pull-right">
            <a class="btn btn-success" href="/users">Cancel</a>
        </div>
        <h2>Edit User</h2>
    </div>
    <div class='container'>
        {{#each error}}
            <div class='error'>
                <p>{{text}}</p>
            </div>
        {{/each}}
        {{#each users}}
        <form method="POST" class="form-horizontal" action='/users/update/{{user_ID}}' id="update_form" data-toggle="validator">
            <div class="col">
                <div class="form-group">
                    <label for="frmUserName" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-6">
                        <input type="text" id="frmUserName" name="user_Name" value='{{user_Name}}' class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="frmSurname" class="col-sm-2 control-label">Surname *</label>
                    <div class="col-sm-6">
                        <input type="text" id="frmSurname" name="user_Surname" value='{{user_Surname}}' class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="frmEmail" class="col-sm-2 control-label">Email *</label>
                    <div class="col-sm-6">
                        <input type="text" id="frmEmail" name="user_Email" value={{user_Email}} class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="frmCellphone" class="col-sm-2 control-label">Mobile Number *</label>
                    <div class="col-sm-4">
                        <input type="text" id="frmCellphone" name="user_Cellphone"  value={{user_Cellphone}} class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="frmPassword" class="col-sm-2 control-label">Password *</label>
                    <div class="col-sm-4">
                        <input type="password" id="frmPassword" name="user_Password"  value={{user_Password}} class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="frmMPNumber" class="col-sm-2 control-label">MP Number</label>
                    <div class="col-sm-4">
                        <input type="text" id="frmMPNumber" name="user_MPNumber"  value={{user_MPNumber}} class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="frmPracticeNo" class="col-sm-2 control-label">Practice Number</label>
                    <div class="col-sm-4">
                        <input type="text" id="frmPracticeNo" name="user_PracticeNo"  value={{user_PracticeNo}} class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="frmActive" class="col-sm-2 control-label">Active</label>
                    <div class="col-sm-4">
                        <div class="checkbox">
                            <label>
                                <input class="frmActive" type="checkbox" id="frmActive"
                                    name="user_Active" value={{user_Active}}>
                            </label>
                        </div>
                    </div>
                </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken}}">
            <input type="submit" value="Save" class="btn btn-success">
        </form>
        {{/each}}
    </div>

</div>


