<div class="col-lg-12">
    <div class="page-header" style='margin-top: 80px'>
        <div class="pull-right">
            <a class="btn btn-warning" href="/products">Cancel</a>
        </div>
        <h2>Edit product</h2>
    </div>
    {{#each error}}
        <div class='error'>
            <p>{{text}}</p>
        </div>
    {{/each}}
    {{#each products}}
    
    <form method="POST" class="form-horizontal" id="update_form" action='/products/update/{{prod_ID}}' data-toggle="validator">
        {{!-- <div class="col"> --}}
            {{!-- <div class="form-group"> --}}
                {{!-- <img src="..\img\\{{prod_Code}}.png" class="card-img-top" onerror="this.style.display='none';" alt="Product Code: {{prod_Code}}"> --}}
            {{!-- </div> --}}
        {{!-- </div> --}}
        <div class="col">
            <div class="form-group">
            <label for="frmProdCode" class="col-sm-2 control-label">Product Code</label>
            <div class="col-sm-6">
                <input type="text" id="frmProdCode" name="prod_Code" class="form-control" value='{{prod_Code}}'/>
            </div>
        </div>
        <div class="form-group">
            <label for="frmprodName" class="col-sm-2 control-label">Product Name</label>
            <div class="col-sm-6">
                <input type="text" id="frmprodName" name="prod_Name" class="form-control" value='{{prod_Name}}'/>
            </div>
        </div>
        <div class="form-group">
            <label for="frmProdDesc" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-6">
                <input type="text" id="frmProdDesc" name="prod_Desc" class="form-control" value='{{prod_Desc}}'/>
            </div>
        </div>
        <div class="form-group">
            <label for="frmProdQty" class="col-sm-2 control-label">Pack Size</label>
            <div class="col-sm-4">
                <input type="text" id="frmProdQty" name="prod_Qty" class="form-control" value='{{prod_Qty}}'/>
            </div>
        </div>
        <div class="form-group">
            <label for="frmProdPrice" class="col-sm-2 control-label">Price</label>
            <div class="col-sm-4">
                <input type="number" placeholder="0.00" step="0.10" id="frmProdPrice" name="prod_Price" class="form-control" value='{{prod_Price}}'/>
            </div>
        </div>
        <div class="form-group">
            <label for="frmProdDisc" class="col-sm-2 control-label">Discount</label>
            <div class="col-sm-4">
                <input type="number" id="frmProdDisc" name="prod_Disc" class="form-control" value='{{prod_Disc}}'/>
            </div>
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken}}">
        <input type="submit" value="Save" class="btn btn-success">
    </form>
    {{/each}}
    </div>
</div>










